@model SubsystemListModel
@using SSG.Web.Models.Fracas
@using Telerik.Web.Mvc.UI
@using SSG.Core.Infrastructure
@using SSG.Core.Domain.Common
@using System.Globalization

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    var gridPageSize = EngineContext.Current.Resolve<AdminAreaSettings>().GridPageSize;

    ViewBag.Title = @T("FRACAS.Title.Subsystem").Text;
}

@using (Html.BeginHorizontalForm())
{
    <div class="page-header search-header">
        <h2>@ViewBag.Title</h2>
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-right">
                    <a href="@Url.Action("Create")" class="btn btn-primary btn-small" id="create">@T("FRACAS.Button.Add")</a> 
                </div>
            </div>
        </div>        
    </div>
    <div class="page-body">
        @Html.AntiForgeryToken()
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            @Html.SearchLabelFor(model => model.SearchName, true)
                            <div class="search-controls">
                                @Html.TextBoxFor(model => model.SearchName, new { @class = "input-medium" })
                            </div>
                        </div>
                    </div>
                    <div class="span6 pull-right">
                        <input type="submit" value="@T("FRACAS.Button.Search")" id="search-filter" class="btn btn-small pull-right" style="margin-top: 2px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
            <div class="adminContent">
                <div class="row-fluid">
                    <div class="span12">
                        @(Html.Telerik().Grid<SubsystemModel>(Model.Subsystems.Data)
                            .Name("subsystem-grid")
                            .ClientEvents(events => events
                                .OnDataBinding("onDataBinding"))
                            .Columns(columns =>
                            {
                                columns.Bound(x => x.Name)
                                .Template(x => Html.ActionLink(x.Name, "Edit", new { @class = "active", id = x.Id }))
                                .ClientTemplate("<a href=\"" + @Url.Content("~/Subsystem/Edit/") + "<#= Id #>\"><#= Name #></a>")
                                    .Width(200);

                                columns.Bound(x => x.Description)
                                    .Width(200);
                            })
                            .Pageable(settings => settings.Total(Model.Subsystems.Total).PageSize(gridPageSize).Position(GridPagerPosition.Bottom))
                            .DataBinding(databinding => databinding.Ajax().Select("List", "Subsystem"))
                            .EnableCustomBinding(true)
                        )
                    </div>
                </div>
            </div>
    </div>
    
    <script type="text/javascript">

        $(document).ready(function () {

            // Search button
            $('#search-filter').click(function () {
                var grid = $('#subsystem-grid').data('tGrid');
                grid.CurrentPage = 1;
                grid.ajaxRequest();
                return false;
            });

            // Subsystem clicked
            $("#@Html.FieldIdFor(model => model.SearchName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-filter").click();
                    return false;
                }
            });

        });
        
        function onDataBinding(e) {
            var searchModel = {
            SearchName: $('#@Html.FieldIdFor(model => model.SearchName)').val()
            };

            e.data = searchModel;
        }
    </script>
}