<div class="header">
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo">&nbsp; </a>
    </div>
    <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")
    </div>
    <div class="header-selectors-wrapper">
@*      
        Not use for now...  
        <div class="currency-selector">
            @Html.Action("CurrencySelector", "Common")
        </div>
*@
        <div class="language-selector">
            @Html.Action("LanguageSelector", "Common")
        </div>
        @Html.Widget("header_selectors")
    </div>
</div>
