@{
    //page title
    ViewBag.Title = @T("Admin.Dashboard").Text;
}
<div class="section-title">
    <img src="@Url.Content("~/Administration/Content/images/ico-dashboard.png")" alt="" />
    @T("Admin.Dashboard")
</div>
<table class="dashboard">
    @Html.Widget("admin_dashboard_top")
    <tr>
        <td class="maincol">
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-stat1.gif")" alt="" />
                    @T("Admin.Dashboard.SiteStatistics")
                </div>
            </div>
            <table class="stats">
                <tbody>
                    <tr>
                        <td class="userstatistics">
                        <div class="statisticsTitle">
                            @T("Admin.Users.Reports.RegisteredUsers")
                        </div>
                            @Html.Action("ReportRegisteredUsers", "User")
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="rightcol">
            @Html.Action("SSGNews", "Home")
        </td>
    </tr>
    @Html.Widget("admin_dashboard_bottom")
</table>
