@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using SSG.Web.Models.User;
<div class="page password-recovery-page">
    <div class="page-header">
        <h2>@T("Account.PasswordRecovery")</h2>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        { 
            <div class="alert alert-block alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>@T("Common.Notification")</h4>
                <p>@Model.Result</p>
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginHorizontalForm())
            {
                @Html.HiddenFor(model => model.Token)
                @Html.HiddenFor(model => model.Email)
                <div class="control-group"> 
                    @Html.LabelFor(model => model.NewPassword, true)
                    <div class="controls">
                        @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Account.PaswordRecovery.NewPassword", required = "required" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.NewPassword, string.Empty, new { @class = "help-inline" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword, true)
                    <div class="controls">
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { placeholder = "Account.PaswordRecovery.ConfirmNewPassword", required = "required" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, string.Empty, new { @class = "help-inline" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-actions">
                    <input type="submit" name="set-password" class="btn btn-primary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            }
        }
    </div>
</div>
