@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
}
<div class="row-fluid master-wrapper-body-container">
    <div class="span2 master-wrapper-leftside-3">
        @if (IsSectionDefined("left"))
        {
            @RenderSection("left")
        }
        else
        {
            @Html.Widget("left_side_column_before")
            <div class="clear">
            </div>
            @Html.Action("InfoBlock", "Common")
            <div class="clear">
            </div>
            @Html.Action("PollBlock", "Poll", new { systemKeyword = "LeftColumnPoll" })
            <div class="clear">
            </div>
            @Html.Widget("left_side_column_after")
        }
    </div>
    <div class="span8 master-wrapper-center-3">
        @Html.Widget("main_column_before")
        @RenderBody()
        @Html.Widget("main_column_after")
    </div>
    <div class="span2 master-wrapper-rightside-3">
        @if (IsSectionDefined("right"))
        {
            @RenderSection("right")
        }
        else
        {
            @Html.Widget("right_side_column_before")
            <div class="clear">
            </div>
            @Html.Action("NewsletterBox", "Newsletter")
            <div class="clear">
            </div>
       
            @Html.Action("PollBlock", "Poll", new { systemKeyword = "RightColumnPoll" })
            <div class="clear">
            </div>
            @Html.Widget("right_side_column_after")
        }
    </div>
</div>